.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.search-bar {
  text-align: center;
  margin-bottom: 21px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  padding: 11px;
  border: 1px solid red;
}

.user-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.user-table td.actions {
  text-align: center;
}

.pagination {
  margin-top: 19px;
  text-align: center;
}

.selected {
  background-color:white;
}

button {
  margin-top: 20px;
}
